{{ define "main" }}
    <main id="{{ with .Params.mainid }}{{ . }}{{ end }}"  class="single"> 
        {{ with .Params.subhead}}
            <div class="subhead">
                {{ . }}
            </div>
        {{ end }}
        <article>
            <h1>{{ .Title }}</h1>
            <div class="meta">Last Update:
                <time datetime="{{ .Lastmod.Format (.Site.Params.humanDateFormat | default "1/2/2006")  }}" class="text-muted">
                    {{ .Lastmod.Format (.Site.Params.humanDateFormat | default "1/2/2006")  }}
                </time>	
            </div>
            <div class="content">
                {{ .Content }}
            </div>
            {{ partial "tags.html" . }}
                {{ with .Site.DisqusShortname }}
                <div>
    index.html  
                    {{ template "_internal/disqus.html" . }}
                </div>
                {{ end }}
            </article>
        </main>
{{ partial "sidebar.html" . }}
{{ end }}





