
/* 
 * variables can't be used in media queries
 * so they are hard coded in the css,
 * but kept in root to show the intended relationships
 */

:root {
    --font-family: Tahoma, Verdana, Segoe, sans-serif;
    --font-size: 20px;
    --mobile-font-size: calc( var(--font-size) * 0.75 ); 
    --line-height-unitless: 1.5;
    --line-height: calc( var(--line-height-unitless) * 1rem);
    --line-length: 40;
    --left-margin: 16%;
    --max-width: calc( var(--line-length) * 1rem );  
    --breakpoint: calc( var(--font-size) * var(--line-length) );
    --breakpoint2: calc( var(--breakpoint) * 1.25 );
    --background-color: #4D3636;
    --background-color2: #664747;
    --color: white;
    --active-link-color: white;
    --visited-link-color: #808080;
    --border-color:  white; 
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    margin-bottom: var(--line-height);
    box-sizing: border-box;
}

html, body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height-unitless); 
}

header, main, aside, footer {
    margin: 0 auto 0 var(--left-margin);
    padding: 0 calc( var(--line-height) / 2);
    max-width: var(--max-width);
}

header, footer {
    padding-top: calc( var(--line-height) * 1);
}

/* this accounts for 16% offset above */
@media only screen and (max-width: 1100px) {
    header, main, aside, footer { margin-left: auto; }
}

/* if this is overridden, styles will have to be duplicated to remain in effect */ 
@media only screen and (max-width: 800px) {
    html,body { font-size: var(--mobile-font-size); }
}

nav {
    min-width: 300px;
    white-space: nowrap;
}

nav ul {
    display: flex;
}

nav ul, nav ul li {  
    padding: 0;
    margin: 0;
}

.homelink, nav ul li { 
    display: inline-block;
    list-style-type: none;
    margin-right: var(--line-height);
}

.homelink { font-weight: bold; }

a, 
nav a, 
h1 a, h2 a, h3 a, h4 a, {
    color: var(--active-link-color);
}

nav a, .copyright a, 
h1 a, h2 a, h3 a, h4 a, {
    text-decoration: none;
}
    
a:hover, nav a:hover {
    text-decoration: underline;
}

a:visited, nav a:visited .copyright a:visited {
    color: var(--active-link-color);
    text-decoration: none;
}

h1 { font-size: 3rem; }
h2, article h1 { 
    font-size: 2rem; 
    padding-top: var(--line-height);
    margin-bottom: calc( var(--line-height) /2); 
}
h1, h2, article h1 { 
    line-height: calc( var(--line-height) * 2); 
    font-weight: normal; 
}
h3, article h2 { font-size: 1.5rem; }
h2, h3 { padding-top: calc( var(--line-height); }
h4, article h3, caption { 
    font-size: 1rem; 
    font-weight: bold; 
}

ul, ol { padding-left: calc( var(--line-height) * 0.5); }

hr {
    width: 62%;
    margin-left: 0px;
    color: var(--border-color);
}

blockquote {
    max-width: 100%; 
    font-style: italic;
    padding: var(--line-height) calc( var(--line-height) * 2);
    background-color: var(--background-color2);
}

img, table, figure, iframe, video {
    max-width: 100%; 
    height: auto; 
    vertical-align: middle; 
    border: 0; 
    -ms-interpolation-mode: bicubic;
}

figure { margin: calc( var(--line-height) * 2) 0}
.cols figure.image { margin: calc( var(--line-height) * 1) 0}
figure.table { padding-bottom: 0; }
figure.image img { margin-bottom: 0; }
figure blockquote, figcaption, figure footer {
    padding: 0 var(--line-height);
    font-style: normal; 
}
figure footer { padding-top: 0; margin-left: 0 } /* resets style from top level footer */
figure blockquote { padding: var(--line-height); }
figcaption { margin: var(--line-height) 0;  }

.quote-only { margin-bottom: calc( var(--line-height) * 2); }

.hero {
    font-size: 4rem; 
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.small, 
table th, table td, tfoot, 
figcaption, figure footer {
    font-size: 0.75rem; 
}

article .summary a.more-link { display: none; color: var(--color); }

table { 
    width: 100%;
    margin-top: calc( var(--line-height) * 1); 
    border-collapse: collapse;
    border-top: 1px solid var(--border-color); 
    border-bottom: 1px solid var(--border-color); 
}

th { font-weight: bold; }

th, td { 
    line-height: var(--line-height);
    padding: calc( var(--line-height) / 8); 
    text-align: left;
} 

tbody tr:nth-child(even) { background-color: var(--background-color2); }

.meta { display: none; }
.summary .content p { display: inline; } 
.more-link { margin-left: calc( (var(--line-height) / 2); }

.cols {
    width: 100%;
    display: flex;
    column-gap: calc( var(--line-height) * 2); 
    row-gap: 0;  
    flex-shrink: 0; 
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.gist-data, .gist-meta { margin-bottom: 0; }

input, textarea, button {
    display: block;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    padding: calc( var(--line-height) / 3);
    border-radius: calc( var(--line-height) / 3);
}
input { width: 60%; }
textarea { 
    width: 100%;
    resize: vertical;
}

