:root {
    --font-family: Lucida Sans, Helvetica, Arial, sans-serif; 
    --font-family: Optima, Candara, Calibri, Arial, sans-serif;
    --font-size: 18px;
    --mobile-font-size: 16px; 
    --line-height-unitless: 1.5;
    --line-height: calc( var(--line-height-unitless) * 1rem);
    --max-width: 42rem;  
    --background-color: #4D3636;
    --background-color2: #664747;
    --color: white;
    --active-link-color: white;
    --visited-link-color: 808080;
    --border-color: 
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    margin-bottom:  var(--line-height);
    box-sizing: border-box;
}

html, body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height); 
}

@media only screen and (max-width: var(--max-width, 800px)) {
    html,body { font-size: var(--mobile-font-size); }
}

h1 a, h2 a, h3 a, 
h1 a:visited, h2 a:visited, h3 a:visited {
   color: var(--color);
}

h1 { font-size: 3rem; }
h2, article h1 { font-size: 2rem; padding-top: var(--line-height); }
h1, h2, article h1 { line-height: calc( var(--line-height) * 2); }
h3, article h2 { font-size: calc( var(--line-height); }
h2, h3 { padding-top: calc( var(--line-height); }
h4, article h3, caption { 
    font-size: 1rem; 
    font-weight: bold; 
}

header, main, aside, footer {
    margin: 0 auto;
    padding: 0 calc( var(--line-height) / 2);
    max-width: var(--max-width);
}

header, footer {
    padding-top: var(--line-height);
    padding-bottom: var(--line-height);
}

blockquote ul, footer ul { padding-left: var(--line-height); }

hr {
    width: 62%;
    margin-left: 0px;
    color: var(--border-color);
}

nav {
    min-width: 300px;
    white-space: nowrap;
}

.homelink, nav ul li { 
    display: inline-block;
    margin-right: var(--line-height);
}

.homelink { font-weight: bold; }

nav ul {
    padding-left: 0;
    margin-left: 0;
    display: flex;
}

nav ul li { list-style-type: none; }

a, 
nav a, 
h1 a, h2 a, h3 a, h4 a, {
    color: var(--active-link-color);
}

nav a, 
h1 a, h2 a, h3 a, h4 a, {
    text-decoration: none;
}
    
a:hover, nav a:hover {
    text-decoration: underline;
}

a:visited, nav a:visited {
    color: var(--active-link-color);
    text-decoration: none;
}

blockquote {
    margin: 0; 
    max-width: 100%; 
    font-style: italic;
    padding: var(--line-height) calc( var(--line-height) * 2);
    background-color: var(--background-color2);
}

img, table, figure, iframe, video {
    max-width: 100%; 
    height: auto; 
    vertical-align: middle; 
    border: 0; 
    -ms-interpolation-mode: bicubic;
}

figure { margin: calc( var(--line-height) * 2) 0; }


.cols figure {
    padding-top: var(--line-height); 
    margin: 0; 
}

figure.table { padding-bottom: 0; }
figure img { margin-bottom: 0; }

figure blockquote, figcaption, figure footer {
    padding: 0 var(--line-height);
    font-style: normal; 
}

figure blockquote { padding: var(--line-height); }
figcaption { margin: var(--line-height) 0;  }

.quote-only { margin-bottom: calc( var(--line-height) * 2); }

.hero {
    font-size: 4rem; 
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.small, 
table th, table td, tfoot, 
figcaption, figure footer {
    font-size: 0.85rem; 
}

table { 
    padding: var(--line-height) 0; 
    border-collapse: collapse;
    border-top: 1px solid var(--border-color); 
    border-bottom: 1px solid var(--border-color); 
    margin-bottom: var(--line-height);
}

th { font-weight: bold; }

th, td { 
    line-height: var(--line-height);
    padding: calc( var(--line-height) / 8); 
    text-align: left;
} 

tbody tr:nth-child(even) { background-color: var(--background-color2); }

.meta { display: none; }

.cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0;
    padding: 0;
} 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

input, textarea, button {
    border: 0;
    font-family: inherit;
    font-size: inherit;
}

textarea { resize: vertical; }
