
// $background-color: #003333; 
$background-color:    #4D3636;
$subtle-back-color:   #807373;
$color:               white;
$accent-color:        #4D3636;
$accent-color2:       #66806D;
$active-link-color:   white;
$visited-link-color:  #808080;

$font-family: Optima, Candara, Calibri, Arial, sans-serif;

@use 'base-styles';