{{- with $.Scratch.Get "params" -}}
    
    {{- $media := .media -}}
    {{- $cite := "" -}}
    {{- with .citation -}}
        {{/* normalizing how ending periods are handled */}} 
        {{/* removing temporarily if it is found */}} 
        {{- $cite = replaceRE "\\.[\\s]*$" "" . -}}
    {{- else -}}
        {{- $c := slice }}
        {{- with .pubdate -}} {{- $c = $c | append (time.Format "02 Jan 2006" .) -}} {{- end -}}
        {{- with .author -}} {{- $c = $c | append (print '"' . '"') -}} {{- end -}}
        {{- with .title -}} {{- $c = $c | append . -}} {{- end -}}
        {{- with .voltitle -}} {{- $c = $c | append . -}} {{- end -}}
        {{- with .publocation -}} {{- $c = $c | append . -}} {{- end -}}
        {{- with .pages -}} {{- $c = $c | append (print "p" .) -}} {{- end -}}
        {{- with .source -}} {{- $c = $c | append . -}} {{- end -}}
        {{- $cite = delimit $c ", " -}}
    {{- end -}}

    {{- with $cite -}}
        {{/* normalizing how ending periods are handled */}} 
        {{/* adding closing period */}} 
— <cite>{{- . | markdownify -}}. </cite> 
        {{- with $media -}} <span class="media">{{- . | markdownify -}}</span> {{- end -}}
    {{- end -}}

{{- end -}}


