
{{ $filename := .Get 0  }}
{{ $citation := .Get 1  }}
{{ $width    := .Get 2  }}

{{ $dims := $width | default ($.Site.Params.ImageResize | default "800x") }}

<figure>

{{- $imagefile := .Page.Resources.GetMatch $filename -}}
{{  $image := $imagefile.Resize $dims }}
<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $citation}} ">

{{ $dirFile := path.Split $filename }}
{{ $basename := index (split $dirFile.File "." ) 0 }}
{{ $mdfilepath := printf "%s%s%s" $dirFile.Dir $basename ".md" }}
{{ $mdfile := .Page.Resources.GetMatch $mdfilepath }}
{{ if $mdfile }}
<blockquote>{{ $mdfile.Content  | markdownify  }}</blockquote>
{{ end }}

<figcaption>
{{ if $citation }}— <cite>{{ $citation | markdownify }}</cite>{{ end }}
<a href="{{ $filename }}">View largest available size.</a>
</figcaption>

{{ .Inner }}

</figure>
