
{{ $pagebundlepath := .Get 3  | default (.Page.Params.defaultPageBundle) }}
    {{ $pagebundle := .Page.GetPage $pagebundlepath }}

{{ $basename := .Get 0 }}
    {{ $resourceid := .Get 0 }}
    {{ if not (strings.HasSuffix $resourceid "md") }}
        {{ $resourceid = printf "%s.md" $resourceid }}
    {{ end }}
    {{ $resource := $pagebundle.Resources.GetMatch $resourceid }}
    {{ $fileref := $resource.Params.fileref | default (printf "images/%s.*" $basename) }}

{{ $width := $.Site.Params.ImageMaxWidth | default "800" }}
{{ $height := "" }}
{{ $size := .Get 1  }}
{{ with $size }}
    {{ if in . "x" }}
        {{ $dims := split . "x"}}
        {{ $width = index $dims 0 }}
        {{ $height = index $dims -1 }}
    {{ else }}
    {{ $width = . }}
    {{ end }}
{{ end }}
{{ $resize := printf "%sx%s" $width $height }}

{{ $displays := .Get 2 | default "img,blockquote,figcaption,footer,aside"  }}

{{ $footer := .Inner }}
{{ with $resource }}
    {{ $citation := $resource.Params.citation }}
    {{ $image := $pagebundle.Resources.GetMatch $fileref }}
    {{ with $image }}
        {{ $orighref := $image.RelPermalink }}
<figure style="max-width: {{ $width }}px;">
        {{ if in $displays "img" }}
            {{ $image = $image.Resize $resize }}
<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $image.Title }} ">
        {{ end   }}
        {{ with $resource.Content }}
<blockquote>{{ .  | markdownify  }}</blockquote>
        {{ end }}
<figcaption>
        {{ with $citation }}
— <cite>{{- . | markdownify -}}</cite>&nbsp;
        {{- end -}}
        {{- with $orighref -}}
<a href="{{ . }}">View largest available size.</a>
        {{- end -}}
</figcaption>
        {{ $footer }}
</figure>
    {{ else }}
        no image at {{ $pagebundlepath }} / {{ $fileref }}
    {{ end }}
{{ else }}
    no resource at {{ $pagebundlepath }} / {{ $resourceid }}
{{ end }}