{{ $section := .Get 0  }}
{{ $sectionLevel := .Get 1 }}
{{ $level := .Get 2 }}  

<script>
jQuery(document).ready(function () {
    var ToC =
  "<nav role='navigation' class='section-contents'>" +
    "<ul>";

    var newLine, el, title, link;

    $("{{ $section }}").nextUntil("{{ $sectionLevel }}").filter("{{ $level }}").each(function() {
    
      el = $(this);
      title = el.text();
      link = "#" + el.attr("id");
    
      newLine =
        "<li>" +
          "<a href='" + link + "'>" +
            title +
          "</a>" +
        "</li>";
    
      ToC += newLine;
    
    });

    ToC +=
   "</ul>" +
  "</nav>";

  $(ToC).insertAfter("{{ $section }}");

});
</script>
